
/* Add custom CSS for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px; /* Adjust the width of the sidebar as needed */
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff; /* Change the background color of the sidebar if needed */
}

/* Add margin to the content to push it away from the fixed sidebar */
.main-content {
    margin-left: 240px; /* Adjust the margin to match the width of the sidebar */
}

/* Custom CSS to adjust the width of the content area */
#content-wrapper {
    width: calc(100% - 240px); /* Subtract the width of the sidebar from the total width */
    padding-left: 240px; /* Add padding to push the content away from the sidebar */
    transition: all 0.3s;
}


/* Custom CSS to adjust the width of the content area on smaller screens */
@media (max-width: 768px) {
    #content-wrapper {
        width: 100%; /* Set the width to 100% on smaller screens */
        padding-left: 0; /* Remove padding on smaller screens */
    }
}



